
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.root .header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    background-color: #6e6e6e;
}
.root .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: nowrap;
    background-color: #5b5b5b;
    gap: 50px;
    padding: 50px;
}

.root .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    background-color: #6e6e6e;
}

.root .header h1 {
    margin-right: auto;
    margin-left: 10px;
    color: white;
    align-items: center;
}
.header nav {
    margin-right: 50px;
}
.header nav ul{
  display:flex;
  align-items:center;
  list-style:none;
  margin:0;
  padding:0;
  gap:25px;
  font-size: 25px;
}

.header nav li {
  margin: 0;
  padding: 0;
}

.header nav a {
  text-decoration: none;
  color: white;
}
.root .footer a {
  text-decoration: none;
  color: white;
}
.root .footer ul{
  display:flex;
  align-items:center;
  justify-content: center;
  list-style:none;
  margin:0;
  padding:0;
  gap:25px;
  font-size: 25px;
}

.root .content .profile_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: white;
    padding: 25px;
    gap: 20px;
}

.root .content .profile_section img {
    border-radius: 10%;
    object-fit: cover;
}

.root .content .profile_description {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 25px;
    gap: 20px;
    border-style: none;
    border-radius: 25px;
    background-color: #6e6e6e;
}

.root .content .profile_description p {
    text-align: center;
    color: white;
    font-size: 20px;
}

.profile_description table {
  width: 100%;
  border-collapse: collapse;
}

.profile_description th,
.profile_description td {
  padding: 10px;
  text-align: left;
  border: 1px solid #cccccc;
}

.profile_description th {
  background-color: #555555;
}