
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.root .header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    background-color: #6e6e6e;
}
.root .content {
    display: flex;
    flex-direction: row;
    flex: 70;
    background-color: #ffffff;
}

.root .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 80px;
    background-color: #6e6e6e;
}

.root .header h1 {
    margin-right: auto;
    margin-left: 10px;
    color: white;
    align-items: center;
}
.header nav {
    margin-right: 50px;
}
.header nav ul{
  display:flex;
  align-items:center;
  list-style:none;
  margin:0;
  padding:0;
  gap:25px;
  font-size: 25px;
}

.header nav li {
  margin: 0;
  padding: 0;
}

.header nav a {
  text-decoration: none;
  color: white;
}
.root .footer a {
  text-decoration: none;
  color: white;
}
.root .footer ul{
  display:flex;
  align-items:center;
  justify-content: center;
  list-style:none;
  margin:0;
  padding:0;
  gap:25px;
  font-size: 25px;
}
