
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.root .header {
    display: flex;
    flex-direction: row;
    flex: 10;
    background-color: #c72323;
}
.root .content {
    display: flex;
    flex-direction: row;
    flex: 70;
    background-color: #1fb395;
}

.root .footer {
    display: flex;
    flex-direction: row;
    flex: 10;
    background-color: #c72323;
}

.root .header h1 {
    margin-right: auto;
    margin-left: 10px;
    color: yellow;
}